.signInButton {
  background-color: var(--blue-200);

  padding: 0 1rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  border       : none;
  border-radius: 0.3rem;

  color: var(--white-100);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  .iconLogIn {
    font-size: 1.25rem;

    margin-left: 0.5rem;
  }
}